<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.sjk.yoram">
    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:theme="@style/Theme.Yoram">
        <activity android:name=".view.activity.SplashActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.InitActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:exported="true">
        </activity>
        <activity
            android:name=".view.activity.main.MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:exported="true"
            android:theme="@style/Theme.Yoram.ActionBar">
        </activity>
        <activity android:name=".view.activity.main.my.EditActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.Yoram.ActionBar">
        </activity>
        <activity android:name="com.canhub.cropper.CropImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Yoram.AvatarEdit"/>
        <activity android:name=".view.activity.main.my.GiveActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Yoram.ActionBar" />
        <activity android:name=".view.activity.main.my.AttendActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Yoram.ActionBar" />

        <activity android:name=".view.activity.main.my.PreferenceActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.Yoram.ActionBar" />

        <activity android:name=".view.activity.main.my.AdminBannerActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustResize"
            android:theme="@style/Theme.Yoram.ActionBar" />

        <provider
            android:authorities="com.sjk.yoram.fileprovider"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
    </application>

</manifest>